body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #e91e63;
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-top: 40px;
}

h3 {
    font-size: 24px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1e1e1e;
    color: #ff4081;
}

tr:nth-child(even) {
    background-color: #242424;
}

tr:hover {
    background-color: #444;
}

td {
    color: #bbb;
}

.input-field, .error-message {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 4px;
}

.input-field {
    border: 1px solid #444;
    background-color: #222;
    color: white;
}

.login-button {
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #ff4081;
}

.error-message {
    color: red;
    display: none;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    background-color: #222;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #e91e63;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff4081;
}

input[type="text"], input[type="number"], input[type="date"], select {
    padding: 10px;
    margin: 10px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
    width: 200px;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4081;
}
